<app-sidebar></app-sidebar>
  <div class="container mt-5" >
      <div class="row">
          <div class="col-md-6">
            <img src="{{product?.productImage}}" class="img-fluid" style="width: 50vw;" alt="" />
          </div>
          <div class="col-lg-6 rtl-text">
            <a routerLink="/dashboard" class="continue">Continue Shopping</a>
            <div class="">
                <h2>{{product?.productName}}</h2>
                <h3>$ {{product?.productPrice}}</h3>
                <!-- <ul class="color-variant">
                    <li class="bg-light0"></li>
                    <li class="bg-light1"></li>
                    <li class="bg-light2"></li>
                </ul> -->
                <!-- <div class="product-description border-product">
                    <h6 class="product-title size-text">select size <span><a href="" data-toggle="modal"
                                data-target="#sizemodal">size chart</a></span></h6>
                    <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Sheer Straight Kurta</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body"><img src="../assets/images/size-chart.jpg" alt=""
                                        class="img-fluid blur-up lazyload"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="product-buttons">
                    <button  (click)="addToCart(product)"
                        class="btn btn-primary">Add to Cart</button> 
                </div>
                <div class="border-product">
                    <h6 class="product-title">product details</h6>
                    <p>{{product?.productDescription}}</p>
                </div>
                <div class="border-product">
                    <h6 class="product-title">Share It</h6>
                    <div class="product-icon">
                        <ul class="product-social">
                            <li><a><i class="fa fa-facebook"></i></a></li>&nbsp;
                            <li><a><i class="fa fa-google-plus"></i></a></li>&nbsp;
                            <li><a><i class="fa fa-twitter"></i></a></li>&nbsp;
                            <li><a><i class="fa fa-instagram"></i></a></li>&nbsp;
                            <li><a><i class="fa fa-rss"></i></a></li>&nbsp;
                        </ul>
                        <!-- <form class="d-inline-block">
                            <button class="wishlist-btn"><i class="fa fa-heart"></i><span
                                    class="title-font">Add To WishList</span></button>
                        </form> -->
                    </div>
                </div>
                <!-- <div class="border-product">
                    <h6 class="product-title">Time Reminder</h6>
                    <div class="timer">
                        <p id="demo"><span>25 <span class="padding-l">:</span> <span
                                    class="timer-cal">Days</span> </span><span>22 <span
                                    class="padding-l">:</span> <span class="timer-cal">Hrs</span>
                            </span><span>13 <span class="padding-l">:</span> <span
                                    class="timer-cal">Min</span> </span><span>57 <span
                                    class="timer-cal">Sec</span></span>
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
      </div>
  </div>