<div class="full">
    <div class="d-flex justify-content-center">
    <div class="card login-form" style="margin-top: 20vh;">
        <div class="card-body mt-3">
            <div class="brand-wrapper mt-2">
                <!-- <img src="assets/images/logo.png" alt="logo" class="logo"> -->
              </div>
            <h3 class="card-title text-center">Enter New Password</h3>
            
            <div class="card-text">
                <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
                    <div class="form-group mt-2 mb-2">
                        <label for="userEmail" class="mt-1">Email</label>
                        <input type="email" class="form-control form-control-sm" formControlName="userEmail" 
                        [ngClass]="{'is-invalid':formSubmitted && f.userEmail.errors}" placeholder="Enter your email address">
                        <div *ngIf="formSubmitted && f.userEmail.errors" class="invalid-feedback">
                            <div *ngIf="f.userEmail.errors.required">*Email is required</div>
                            <div *ngIf="f.userEmail.errors.email">*Enter Valid Email</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <input type="password" class="form-control form-control-sm" formControlName="userPassword" 
                        [ngClass]="{'is-invalid':formSubmitted && f.userPassword.errors}" placeholder="Enter new Password">
                        <div *ngIf="formSubmitted && f.userPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.userPassword.errors.required">*Password is required</div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="userPassword" id="userPassword" class="form-control" 
                        [ngClass]="{'is-invalid':formSubmitted && f.userPassword.errors}" placeholder="Passsword">
                        <div *ngIf="formSubmitted && f.userPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.userPassword.errors.required">*Password is required</div>
                        </div>
                      </div>
                    <div class="form-group">
                      <label for="confirmPassword">Confirm Password</label>
                      <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control" 
                      [ngClass]="{'is-invalid':formSubmitted && f.confirmPassword.errors}" placeholder="Confirm Passsword">
                      <div *ngIf="formSubmitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">*Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Password and Confirm Password must match with each other.</div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-custom btn-block" style="background-color: #96161f; color: white;">Save New Password</button>
                    </div>
                    <div class="d-flex justify-content-center">
                    <a [routerLink]="['/auth/login']" class="text-reset">Login</a> &nbsp; &nbsp;
                    <a [routerLink]="['/auth/register']" class="text-reset">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>