nav {
  // background: linear-gradient(
  //   93deg,
  //   rgba(68, 179, 226, 1) 16%,
  //   rgba(94, 129, 207, 1) 55%
  // );
  height: 60px;
  max-width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(256, 256, 256, 1);
}
label.logo {
  // color: cornsilk;
  color: gray;
  font-size: 35px;
  font-weight: bold;
  line-height: 60px;
  margin-left: 40px;
}
.btn {
  background-color: #96161f;
  border: none;
}
nav ul {
  float: right;
  margin-right: 50px;
}
nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0px 20px;
}

nav ul li {
  color: gray;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}
a.active,
a:hover {
  color: #44b3e2;
  color: rgb(53, 52, 52);
}
.hamberger-btn {
  font-size: 35px;
  color: lightgray;
  float: right;
  margin-right: 30px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 768px) {
  section {
    background-position: top right;
  }

  label.logo {
    font-size: 30px;
    margin-left: 20px;
  }
  nav ul li a {
    color: white;
    font-size: 16px;
  }
  .hamberger-btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(45, 42, 145, 1) 97%
    );
    top: 60px;
    right: 100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
  }
  a:hover {
    background: linear-gradient(
      93deg,
      rgba(94, 129, 207, 1) 16%,
      rgba(94, 161, 187, 1) 55%
    );
  }

  #check:checked ~ ul {
    right: -10px;
    z-index: 100;
  }
  .fancy-radius {
    display: none;
  }

  .greeting {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: whitesmoke;
    left: 0px;
    top: 20px;
    background: rgb(109, 157, 162);
    background: linear-gradient(
      256deg,
      rgba(109, 157, 162, 1) 18%,
      rgba(94, 161, 187, 1) 58%
    );
    transition: all 0.6s;
    z-index: 99;
  }
}
.logo-7 {
  width: 100%;
  display: inline-block;
}
.logo-7 i {
  font-size: 60px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  color: #34495e;
}
.logo-7 .left {
  float: left;
  margin-left: 10px;
  text-align: left;
}
.logo-7 a {
  color: #545454;
}
.logo-7 .left h3 {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  color: #96161f;
}
.logo-7 .left p {
  text-align: right;
  font-size: 14px;
  color: #919191;
  font-style: italic;
  // border-top: 1px dashed #919191;
  letter-spacing: 2px;
  // padding-top: 3px;
  font-family: "Lobster", cursive;
}
.btn-custom {
  background-color: transparent;
  color: #96161f;
  font-weight: 600;
  padding: 2px;
}
*:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

a.blinkingText {
  font-weight: bold;
  background: #27b35f;
  font-size: 20px;
  color: #fff !important;
  animation: blink 1s linear infinite;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 650px) {
  a.blinkingText {
    font-size: 16px;
    margin-top: 0px;
  }
}
