<div class="full">
<div class="d-flex justify-content-center">
<div class="card login-form mt-5">
	<div class="card-body">
		<h3 class="card-title text-center" style="font-weight: 700;">Please Enter New password</h3>
		
		<!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->
		
		<div class="card-text">
			<form [formGroup]="passwordForm" (ngSubmit)="newPassword()">
				<!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
  					<strong>Holy guacamole!</strong> You should check in on some of those fields below.
  					<a class="close" data-dismiss="alert" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
  					</a>
				</div> -->
					<div class="form-group">
					  <label for="password">Password</label>
					  <input [type]="showPassword ? 'text' : 'password'" formControlName="userPassword" id="userPassword" class="form-control" 
					  [ngClass]="{'is-invalid':formSubmitted && f.userPassword.errors}" placeholder="Passsword">
					  <div *ngIf="formSubmitted && f.userPassword.errors" class="invalid-feedback">
						<div *ngIf="f.userPassword.errors.required">*Password is required</div>
					  <div *ngIf="f.userPassword.errors.pattern">Password must be strong</div>
					  <div *ngIf="f.userPassword.errors.minlength">Password must be 8 character long</div>
					  </div>
					</div>
				  <div class="form-group">
					<label for="confirmPassword">Confirm Password</label>
					<input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword" class="form-control" 
					[ngClass]="{'is-invalid':formSubmitted && f.confirmPassword.errors}" placeholder="Confirm Passsword">
					<div *ngIf="formSubmitted && f.confirmPassword.errors" class="invalid-feedback">
					  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
					  <div *ngIf="f.confirmPassword.errors.mustMatch">Password and Confirm Password must match with each other.</div>
					</div>
				  </div>
				<div class="text-center">
					<button type="submit" class="btn btn-custom btn-block submit-btn">Confirm</button>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</div>